# Model Inference

## i. Import Library

In [2]:
# Import libraries

import pickle
import pandas as pd
import numpy as np

## ii. Model Loading

In [3]:
# Load model

with open('model.pkl', 'rb') as model:
  model = pickle.load(model)

## iii. Inference Data

In [4]:
# Membuat data inference

data_inf = pd.DataFrame({
        'coupon_discount': 0.15,
        'campaign_length': 33,
        'trx_day': 8,
        'start_day': 3,
        'end_day': 17,
        'brand_type': 'Local',
        'category': 'Flowers & Plants',
        'campaign_type': 'X',
        'age_range': '36-45',
        'income_bracket': 7
    }, index=[0])

# Membuat DataFrame dari data baru
data_inf = pd.DataFrame(data_inf)

# Menampilkan data baru
data_inf

,coupon_discount,campaign_length,trx_day,start_day,end_day,brand_type,category,campaign_type,age_range,income_bracket
0,0.15,33,8,3,17,Local,Flowers & Plants,X,36-45,7

## iv. Predicting Inference Data

In [5]:
# Memprediksi gagal bayar dengan menggunakan model yang sudah di-load
y_pred_inf = model.predict(data_inf)
y_pred_inf

array([0], dtype=int64)

Dari hasil data inference data transaksi ini tidak menggunakan kupon yang berlaku.